head 
	meta(charset="UTF-8")
	title Happy Valentines!
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="icon" href="/love-bugs/lb4.jpg")
	link(
	rel="stylesheet" 
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous")
	link(href="https://fonts.googleapis.com/css?family=Pinyon+Script" rel="stylesheet")
	link(rel="stylesheet" type="text/css" href="/vday.css")

body
	h1 I Love You, Beautiful

	- var src = Math.ceil(Math.random()*7);
	- setInterval(() => src = Math.ceil(Math.random()*7), 500);
		div.dimg
			img#img(src=`/love-bugs/lb${src}.jpg`)

script(
	src="https://code.jquery.com/jquery-3.3.1.js"
	integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
	crossorigin="anonymous")
script(src="/vday.js")